.topic h1 {
background-color: cadetblue;
color: #fff;
font-style: oblique;
padding: 20px;
}
.tourist-info {
    text-align: left;
    padding: 25px;
}
.tourist-info h3 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    color: #666;
}
.tourist-info p {
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.75;
    color: #666;
    padding-right: 150px;
}